.msg-header-div {
    margin: 30px auto;
}

.products {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.product {
    width: 94vw;
    height: 94vw;
    margin: 2%;
    background: center center/cover no-repeat;

    & a {
        color: #ffffff;
    }
}

.box {
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
    width: 100%;
    height: 100%;
    text-transform: capitalize;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content:center;
    padding: 30%;
}
/* Tablet view for collection */
@media (min-width: 760px) {
    .products {
        display: grid;
        grid-gap: 2.5%;
        grid-template-columns: auto auto auto;
        padding: 0 30px;
    
        .product {
            width: 29vw;
            height: 29vw;
        }
    }
    

    .box {
        padding: 30% 18%;
    }
}
/* Desktop view for products */
@media (min-width: 900px) {
    .products {
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 1.5%;
        grid-row-gap: 5%;

        .product {
            width: 21vw;
            height: 21vw;
        }
    }
}
/* Background images for product overlay boxes */
.box1 {
    background-image: url('../img/pr1.png');
}

.box2 {
    background-image: url('../img/pr2.png');
}

.box3 {
    background-image: url('../img/pr3.png');
}

.box4 {
    background-image: url('../img/pr4.png');
}

.box5 {
    background-image: url('../img/pr5.png');
}

.box6 {
    background-image: url('../img/pr6.png');
}

.box7 {
    background-image: url('../img/pr7.png');
}

.box8 {
    background-image: url('../img/pr8.png');
}